:root{
  --color-paragraph-primary: #444;
  --color-gray-background: #fcfcfc;
  --color-primary:rgb(77, 79, 223);
  --color-background-icon: rgb(205, 205, 241);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins, sans-serif;
  background-color: var(--color-gray-background);
}
nav{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1.8rem 0;
    
}
.section-navbar{
  position: sticky; 
  top: 0; 
  background-color: rgb(231, 231, 255); 
  z-index: 1000; 
  opacity: 95%;
  transition: all .6s ease;
}
.nav-list-item-link{
  text-decoration: none;
}
.logo-div, .shopping-card, .icon-text{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-paragraph-primary)
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav-list a, .cart-icon{
list-style-type: none;
color: var(--color-paragraph-primary);
}
.badge{
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  padding-left: .4rem;
  padding-top: .1rem;
  font-size: .8rem;
  color: #fff;
  margin-left: -.8rem;
  margin-top: .7rem;
}
/* HEADER */
.header-container{
  max-width:75rem;
  display: flex;
  margin: 0 auto;
}
.header-description, .header-photo{
  width: 50%;
}
.header-photo img{
  width: 100%;
  padding-left: 3rem;
}
.header-title h1{
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  color:rgb(43, 43, 43);
  text-transform: uppercase;
}
.header-paragraph{
  color: var(--color-paragraph-primary);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2.2rem;
}
.btn{
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .8rem 1.8rem;
    transition: all .3s;
    line-height: 1.2;
}
.btn-header-explore{
  background-color:var(--color-primary) ;
  color: #fff;
  margin-right: .8rem;
}
.btn-header-explore:hover{
  background-color: rgb(58, 60, 179)
}
.btn-header-about:hover{
  background-color: rgb(221, 218, 218);
}

.container-featured-products{
  max-width: 75rem;
  margin:0 auto;
}
.section-featured{
  border-bottom: 1px solid rgb(207, 207, 207); 
}
.heading-featured{
  color: #888;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .75px;
  margin-bottom: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}
.logos{
  display: flex;
  justify-content: space-evenly;
}
.logos img{
  height: 2.2rem;
  opacity: 50%;
  filter: brightness(0);
}
/* FEATUREDPRODUCTS */
.section-featured-products{
  border-bottom: 1px solid rgb(207, 207, 207);
}
.featured-header-description,.header-description-creeds, .header-description-operations{
  color: var(--color-paragraph-primary);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}
.featured-header-title{
  color: var(--color-primary);
}
.feturedItem{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.feturedItem img{
  width: 100%;
  height: 100%;
  transition: .6s ease-in-out;
}
.feturedItem img:hover{
  transform: translateY(-30px);
}
.featured-product-description{
  margin-top: .4rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.featured-product-name{
  font-size: 1.2rem;
  color: var(--color-paragraph-primary);
}
.featured-product-price{
  color: var(--color-primary);
  font-weight: bold;
}
.featured-btn-container{
  display: flex;
  justify-content: center;
}
.btn-featured{
  background-color: var(--color-primary);
  color:#fff;
}
.btn-featured:hover{
  background-color: rgb(44, 47, 212);;
}
/* Creeds */
.section-creeds{
  border-bottom: 1px solid rgb(207, 207, 207)
}
.header-title{
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .75px;
  font-weight: bold;
}
.container-creeds{
  max-width: 75rem;
  margin: 0 auto;
}
.creeds-items{
  column-gap: 2.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.creeds-cards{
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transition: all 1s;
}
.creed-icon{
  background-color: var(--color-background-icon);
  border-radius: 50%;
  color: #fff;
  font-size: 1.8rem;
  height: 4rem;
  margin-bottom: 1.2rem;
  width: 4rem;
  position: relative;
}
.creed-article-heading{
  font-size: 1.2rem;
  color: var(--color-paragraph-primary);
  padding-bottom: 1.2rem;
}
.creed-article-paragraph{
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 100%;
}
.creed-icon span{
  margin-left: 1.2rem;
  top:16px;
  position: absolute;
}
.creed-icon span svg{
  color:var(--color-primary);
}
/* Operations */
.header-operations{
  max-width: 60rem;
  margin: 0 auto;
}
.hamburger{
  display: none;
}

/* TABLETS */
@media (max-width: 1220px){
  .section-header{
    padding: 0 2.2rem;
  }
  .section-featured-products, .section-creeds{
   padding: 11.5rem 2.2rem;
  }
  .section-operations{
    padding: 0 2.2rem;
  }
  
  nav{
    padding: 1.8rem 2.2rem;
  }
  .header-title h1{
    font-size: 2rem;
  }
  .header-paragraph{
    font-size: 1rem;
  }
  .btn{
   font-size: 1rem;
   padding: .7rem 1.7rem;
   line-height: 1.1;
  }
  .heading-featured{
    font-size: 1rem;
  }
  .logos img{
   height: 2.1rem;
  }
  .featured-header-title{
    font-size: 1rem;
  }
  .featured-header-description, .header-description-creeds, .header-description-operations{
    font-size: 2.4rem;
  }
  .creed-article-paragraph{
    font-size: 1.1rem;
  }
  .section-featured-products{
    margin-top: 0;
   }
}

@media (max-width: 990px){
  .creed-article-paragraph{
    font-size: 1rem;
  }
  .header-description{
    width: 57.5%;
  }
  .section-featured-products, .section-creeds, .section-operations .section-header{
    padding: 11.5rem 1.6rem;
   }
   .section-featured-products{
    margin-top: 0;
   }
   .header-title h1{
    font-size: 1.8rem;
  }
  .header-paragraph{
    font-size: 0.9rem;
  }
  .btn{
    font-size: .9rem;
    padding: .6rem 1.6rem;
    line-height: 1;
   }
   .heading-featured{
    font-size: .9rem;
  }
  .logos img{
    height: 1.9rem;
  }
  .hamburger {
    display: block;
    z-index: 1000;
    border: none;
    width: 36px;
    height: 30px;
    cursor: pointer;
    padding: 4px;
    color: black;
  }

  .nav-list {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 95%;
    color: black;
    transition: all 0.8s ease-in-out;
    z-index: 10;
    transform: translateX(100%);
    display: block;
 }
 
 .nav-list.isOpen {
     display: block;
     padding-top: 8rem;
     padding-left: 44.5%;
     font-size: 2rem;
     left: 0;
     transform: translateX(0%);
     transition: all 0.8s ease-in-out;
 }
 
  .nav-list .icon-text span, .cart-icon, .nav-list.isOpen a li{
    margin-top: 2rem;
  }
  .hamburger svg{
    height: 22px;
    width: 28px;
  }
}


@media (max-width: 774px){
  .header-title h1{
   font-size: 1.5rem;
 }
 .header-paragraph{
   font-size: 0.8rem;
 }
 .btn{
   font-size: .8rem;
   padding: .6rem 1.5rem;
   line-height: 1;
  }
  .featured-product-name, .featured-product-price{
    font-size: 1rem;
  }
  .logos img{
   height: 1.6rem;
  }
  .heading-featured{
   font-size: .8rem;
  }
  .featured-header-description, .header-description-creeds, .header-description-operations{
   font-size: 2rem;
 }
 .featured-header-title,.header-title{
   font-size: 1rem;
 }
 .creeds-items{
   gap: 1.5rem;
 }
 .section-featured-products, .section-creeds, .section-operations .section-header {
   padding: 5rem 1.6rem;
}
}
@media (max-width: 665px){

  .header-container{
    flex-direction: column;
    align-items: center;
  }
  .header-title h1{
    font-size: 1.8rem;
    width: 100%;
  }
  .header-description{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  .header-photo{
    width: 100%;
    margin-top: 0;
  }
  .section-featured{
    padding: 6rem 0;
  }
  .logos{
    width:100%;
    flex-wrap: wrap;
    padding: 1rem;
    margin:0 auto;
  }
  .logos img{
    width: 30%;
    margin:1rem;
  }
  .heading-featured{
    margin-bottom: 1rem;
  }
  .feturedItem{
    flex-direction: column;
    width: 75%;
    margin: 2rem auto;
  }
  .featured-product-image{
    margin-top: .9rem;
  }
  .featured-header-title, .header-title{
    text-align: center;
    font-size: 1rem;
  }
  .featured-header-description,.header-description-creeds, .header-description-operations{
    text-align: center;
    font-size: 1.7rem;
  }
  .creeds-items{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .creed-icon{
    margin:0 auto;
    text-align: left;
    margin-bottom: .7rem;
  }
 }
 /* Wrapper */
 .wrapper{
  margin-top: 9rem;
 }
 .wrapper section {
  padding-bottom: 9rem;
 }
 .title{
 color: var(--color-primary);
 font-size: 1.2rem;
 font-weight: 500;
 letter-spacing: .75px;
 font-weight: bold;
 padding-bottom: .5rem;
}
.subTitle{
color: var(--color-paragraph-primary);
font-size: 2.8rem;
font-weight: 500;
line-height: 1.4;
padding-bottom: 5rem;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}
/* FOR ANIMATION */
.section-hidden {
  opacity: 0;
  transform: translateY(8%);
  transition: all .7s ease-in-out;
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
  transition: all .7s ease-in-out;
}
/* OPERATIONS */
.section-operations{
  padding: 1.5rem;
  height: 22.5rem;
  margin-bottom: 2rem;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(231, 231, 255);
}
/* operations style for */
.oparation-btn {
  width: 160px;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  /* color: white; */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.oparation-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.oparation-btn.active {
  background-color: var(--color-primary);
}
.operations-btns{
  display: flex;
  justify-content: space-between;
  gap:22px;
}
.activeOparations{
  background-color: var(--color-primary);
  color: #fff;
}
.operations-tab-content{
  padding: 4rem 2rem;
  font-size: 18px;
}
.operations-item{
 display: flex;
 flex-direction: column;
}
.operations-tab-content-details{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.operations-icon svg{
  color:#0056b3;
  width:44px;
  height: 44px;
  padding: 9px;
  background-color: rgb(115, 117, 227);
  color: #fff;
  border-radius: 50%;
}
.operations-paragraph{
  padding-left: 4rem;
  line-height: 1.8;
}

/* TESTIMONIAL */
.testimonial-img{
  width: 100px;
  height: 100px;
}
.section-testimonials{
  width: 100%;
  margin: 0 auto;
}
.slider{
  width: 52.5%;
  margin: 0 auto;
  position: relative;
  padding: 0 3rem;
  display: flex;
}

.testimonial-card h3{
  padding-bottom: 1.4rem;
  font-size: 26px;
  color: rgb(60, 60, 60);
}
.testimonial-description{
  line-height: 1.4;
  padding-bottom: 1.2rem;
  color: rgb(80, 80, 80);
  font-size: 18px;
}
.testimonial-card img {
  width: 57.5px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: .2rem;
}
.testimonial-location{
  margin-top: .2rem;
  color: rgb(80, 80, 80);
}
.slider-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.slider-btn svg{
  width: 16px;
  height: 28px;
  color: rgb(97, 97, 97);
}
.btn-left{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-70%,-50%);
}
.btn-right{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(70%, -50%)
}
.slider-wrapper {
  display: flex;
  overflow: hidden;
  width: 550px;
  height: 350px;
  position: relative;

}
.testimonial-card {
  min-width: 100%;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  
  position: absolute;
}
.underline {
  height: 2px;
  width: 0%;
  background-color: blue;
  transition: width 1s linear;
  margin-bottom: .5rem;
}
/* PRODUCTS-CONTAINER */
.products-container{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding: 0 4rem;
}
.sidebar-container{
  background-color: orange;
  width: 17.5%;
  margin-right: 1.5rem;
}
.sort-products label{
 font-size: 18px;
 color: #444;
 margin-right: 6px;
}
.sort-products select{
  padding: 4px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}

/* PRODUCTS */

.product-grid{
  display: grid;
  width: 950px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  padding:1rem .5rem;
  gap: 1rem;
  width: 100%;
  transition: all 0.7s;
}

.product-card img {
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  height: 180px;
}

.product-card .product-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.product-card h5 {
  text-transform: capitalize;
  font-weight: 600;
  color: #4a5568;
}

.product-card .price {
  font-weight: 600;
  color: var(--color-primary);
  font-size: 17px;
}

.product-card .description {
  display: none; 
}

.product-card .btn-container {
  display: flex;
  justify-content: flex-start;
}

.product-card .btn-container button:hover {
  background-color: #c53030;
}
.products{
  display: flex;
  flex-direction: column;
}
.products-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.header-line{
  width: 500px;
  height: 3px;
  background-color: var(--color-primary);
}
/* SIDEBAR */
.sidebar-container {
    background-color: #f5f5f5;
    padding: 16px;
    transition: transform 0.7s ease;
    width: 100%;
    max-width: 250px;
    height: 670px;
}

.search-input {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    font-size: 0.875rem;
    placeholder {
        letter-spacing: 0.05em;
    }
}

.heading {
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
}
.color-list{
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.category-item, .color-item {
    font-weight: 300;
    text-transform: capitalize;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.category-item.active, .color-item.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--color-primary);
    opacity: 1;
}

.category-item:not(.active), .color-item:not(.active) {
    opacity: 0.6;
}

.company-select {
    background-color: #fef5fe;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 4px;
    font-size: 0.875rem;
    text-transform: capitalize;
}

.price-filter {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.price-amount {
    color: var(--color-primary);
}

.price-range {
    background-color: var(--color-primary);
}

.shipping-filter {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
}
.color-item{
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.shipping-checkbox {
    width: 12px;
    height: 12px;
    margin-top: 10px;
}

.clear-filters-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 0.875rem;
    background-color: #ef4444;
    color: #fef2f2;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.clear-filters-btn:hover {
    background-color: #dc2626;
}

/* SPINNER */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--color-primary);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* SINGLE-PRODUCT-ITEM */
.single-product-item{
  background-color: rgb(231, 229, 229);
  height: 553px;
  display: flex;
  margin: 0 auto;

  padding: .5rem 2rem;
}
.single-product-img{
  width: 50%;
}
.single-product-description{
  width: 50%;
}
.single-product-img img{
  width: 570px;
  height: 385px;
  border: 1px solid rgb(197, 195, 195);
}
.single-product-name{
  text-transform: capitalize;
  font-size: 2.2rem;
  line-height: 2.5rem;
  margin-top: 2.8rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.single-product-price{
  font-size: 1.4rem;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
  font-weight: bold;
}
.single-product-description-text{
  margin-bottom: 1.4rem;
  line-height: 1.4;
}

.single-product-data{
  display: flex;
  margin-bottom: .7rem;
  gap: 20px;
  text-transform: capitalize
}
.single-product-data p {
  width: 75px;
  
}
.single-product-brand,
.single-product-id{
  font-weight: bold;
}
.border{
  padding-bottom: 2rem;
 border-bottom: 1px solid var(--color-primary);
}
.single-product-order {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.order-controls {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.order-button {
    width: 35px;
    height: 35px;
    font-weight: bold;
    background-color: rgb(231, 229, 229);
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.order-button:hover {
    background-color: #e0e0e0;
}
.number-orders {
    margin: 0 20px;
    font-size: 32px;
    font-weight: bold;
}
.cart {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.cart:hover {
    background-color: #6a60fd;
}
.btn-backProduct {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  background-color: rgb(231, 229, 229);;
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
}
.single-product-img a {
  text-decoration: none;
}
/* Cart */
.cart-container{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 2rem 5rem;
  height: 553px;
}
.cart-titles{
  color: black;
  font-weight: bold;
}
.cart-titles,.cart-details, .cart-btns{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  color: rgb(46, 46, 46);
}
.cart-details-img{
  display: flex;
  flex-direction: column-reverse;
  text-transform: capitalize;

}
.cart-details-img img{
  width: 150px;
  height: 100px;
}

.cart-titles, .cart-details{
  border-bottom: 1px solid black;
}
.cart-details{
  display: flex;
  align-items: center;
}
.cart-details div, .cart-details p{
  width: 160px;
  text-align: center;
}
.cart-titles p{
  width: 160px;
  text-align: center;
}
.cart-titles p:nth-child(3){
  margin-right: 14px;
}
.continue-shopping{
  background-color: var(--color-primary);
  color:#fff;
  transition: all 1s ease;
}
.continue-shopping:hover{
  background-color: rgb(31, 31, 175);
}
.clear-shopping{
  background-color: rgb(235, 57, 57);
  color:#fff;
  transition: all 1s ease;

}
.clear-shopping:hover{
  background-color: rgb(209, 7, 7);
}
.cart-details p:last-child{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart-details p span svg{
  width: 28px;
  height: 28px;
  color: red;
  margin-left: 1rem;

  cursor: pointer;
}