:root{
  --color-paragraph-primary: #444;
  --color-gray-background: #fcfcfc;
  --color-primary:rgb(77, 79, 223);
  --color-background-icon: rgb(205, 205, 241);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins, sans-serif;
  background-color: var(--color-gray-background);
}
nav{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1.8rem 0;
    
}
.section-navbar{
  position: sticky; 
  top: 0; 
  background-color: rgb(231, 231, 255); 
  z-index: 1000; 
  opacity: 95%;
  transition: all .6s ease;
}
.nav-list-item-link{
  text-decoration: none;
}
.logo-div, .shopping-card, .icon-text{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-paragraph-primary)
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav-list a, .cart-icon{
list-style-type: none;
color: var(--color-paragraph-primary);
}
.badge{
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  padding-left: .4rem;
  padding-top: .1rem;
  font-size: .8rem;
  color: #fff;
  margin-left: -.8rem;
  margin-top: .7rem;
}
/* HEADER */
.header-container{
  max-width:75rem;
  display: flex;
  margin: 0 auto;
}
.header-description, .header-photo{
  width: 50%;
}
.header-photo img{
  width: 100%;
  padding-left: 3rem;
}
.header-title h1{
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  color:rgb(43, 43, 43);
  text-transform: uppercase;
}
.header-paragraph{
  color: var(--color-paragraph-primary);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2.2rem;
}
.btn{
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .8rem 1.8rem;
    transition: all .3s;
    line-height: 1.2;
}
.btn-header-explore{
  background-color:var(--color-primary) ;
  color: #fff;
  margin-right: .8rem;
}
.btn-header-explore:hover{
  background-color: rgb(58, 60, 179)
}
.btn-header-about:hover{
  background-color: rgb(221, 218, 218);
}

.container-featured-products{
  max-width: 75rem;
  margin:0 auto;
}
.section-featured{
  border-bottom: 1px solid rgb(207, 207, 207); 
}
.heading-featured{
  color: #888;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .75px;
  margin-bottom: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}
.logos{
  display: flex;
  justify-content: space-evenly;
}
.logos img{
  height: 2.2rem;
  opacity: 50%;
  filter: brightness(0);
}
/* FEATUREDPRODUCTS */
.section-featured-products{
  border-bottom: 1px solid rgb(207, 207, 207);
}
.featured-header-description,.header-description-creeds, .header-description-operations{
  color: var(--color-paragraph-primary);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}
.featured-header-title{
  color: var(--color-primary);
}
.feturedItem{
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-top: 4.2rem; */
  margin-bottom: 3.5rem;
}
.feturedItem img{
  width: 100%;
  height: 100%;
  transition: .6s ease-in-out;
}
.feturedItem img:hover{
  transform: translateY(-30px);
}
.featured-product-description{
  margin-top: .4rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.featured-product-name{
  font-size: 1.2rem;
  color: var(--color-paragraph-primary);
}
.featured-product-price{
  color: var(--color-primary);
  font-weight: bold;
}
.featured-btn-container{
  display: flex;
  justify-content: center;
}
.btn-featured{
  background-color: var(--color-primary);
  color:#fff;
}
.btn-featured:hover{
  background-color: rgb(44, 47, 212);;
}
/* Creeds */
.section-creeds{
  border-bottom: 1px solid rgb(207, 207, 207)
}
.header-title{
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .75px;
  font-weight: bold;
}
.container-creeds{
  max-width: 75rem;
  margin: 0 auto;
}
.creeds-items{
  column-gap: 2.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.creeds-cards{
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transition: all 1s;
}
.creed-icon{
  background-color: var(--color-background-icon);
  border-radius: 50%;
  color: #fff;
  font-size: 1.8rem;
  height: 4rem;
  margin-bottom: 1.2rem;
  width: 4rem;
  position: relative;
}
.creed-article-heading{
  font-size: 1.2rem;
  color: var(--color-paragraph-primary);
  padding-bottom: 1.2rem;
}
.creed-article-paragraph{
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 100%;
}
.creed-icon span{
  margin-left: 1.2rem;
  top:16px;
  position: absolute;
}
.creed-icon span svg{
  color:var(--color-primary);
}
/* Operations */
.header-operations{
  max-width: 60rem;
  margin: 0 auto;
}
.hamburger{
  display: none;
}

/* TABLETS */
@media (max-width: 1220px){
  .section-header{
    padding: 0 2.2rem;
  }
  .section-featured-products, .section-creeds{
   padding: 11.5rem 2.2rem;
  }
  .section-operations{
    padding: 0 2.2rem;
  }
  
  nav{
    padding: 1.8rem 2.2rem;
  }
  .header-title h1{
    font-size: 2rem;
  }
  .header-paragraph{
    font-size: 1rem;
  }
  .btn{
   font-size: 1rem;
   padding: .7rem 1.7rem;
   line-height: 1.1;
  }
  .heading-featured{
    font-size: 1rem;
  }
  .logos img{
   height: 2.1rem;
  }
  .featured-header-title{
    font-size: 1rem;
  }
  .featured-header-description, .header-description-creeds, .header-description-operations{
    font-size: 2.4rem;
  }
  .creed-article-paragraph{
    font-size: 1.1rem;
  }
  .section-featured-products{
    margin-top: 0;
   }
}

@media (max-width: 990px){
  .creed-article-paragraph{
    font-size: 1rem;
  }
  .header-description{
    width: 57.5%;
  }
  .section-featured-products, .section-creeds, .section-operations .section-header{
    padding: 11.5rem 1.6rem;
   }
   .section-featured-products{
    margin-top: 0;
   }
   .header-title h1{
    font-size: 1.8rem;
  }
  .header-paragraph{
    font-size: 0.9rem;
  }
  .btn{
    font-size: .9rem;
    padding: .6rem 1.6rem;
    line-height: 1;
   }
   .heading-featured{
    font-size: .9rem;
  }
  .logos img{
    height: 1.9rem;
  }
  .hamburger {
    display: block;
    z-index: 1000;
    border: none;
    width: 36px;
    height: 30px;
    cursor: pointer;
    padding: 4px;
    color: black;
  }

  .nav-list {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 95%;
    color: black;
    transition: all 0.8s ease-in-out;
    z-index: 10;
    transform: translateX(100%);
    display: block;
 }
 
 .nav-list.isOpen {
     display: block;
     padding-top: 8rem;
     padding-left: 44.5%;
     font-size: 2rem;
     left: 0;
     transform: translateX(0%);
     transition: all 0.8s ease-in-out;
 }
 
  .nav-list .icon-text span, .cart-icon, .nav-list.isOpen a li{
    margin-top: 2rem;
  }
  .hamburger svg{
    height: 22px;
    width: 28px;
  }
}


@media (max-width: 774px){
  .header-title h1{
   font-size: 1.5rem;
 }
 .header-paragraph{
   font-size: 0.8rem;
 }
 .btn{
   font-size: .8rem;
   padding: .6rem 1.5rem;
   line-height: 1;
  }
  .featured-product-name, .featured-product-price{
    font-size: 1rem;
  }
  .logos img{
   height: 1.6rem;
  }
  .heading-featured{
   font-size: .8rem;
  }
  .featured-header-description, .header-description-creeds, .header-description-operations{
   font-size: 2rem;
 }
 .featured-header-title,.header-title{
   font-size: 1rem;
 }
 .creeds-items{
   gap: 1.5rem;
 }
 .section-featured-products, .section-creeds, .section-operations .section-header {
   padding: 5rem 1.6rem;
}
}

@media (max-width: 665px){
  /* .wrapper div{
    margin-top: 0;
  } */
  .header-container{
    flex-direction: column;
    align-items: center;
  }
  .header-title h1{
    font-size: 1.8rem;
    width: 100%;
  }
  .header-description{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  .header-photo{
    width: 100%;
    margin-top: 0;
  }
  .section-featured{
    padding: 6rem 0;
  }
  .logos{
    width:100%;
    flex-wrap: wrap;
    padding: 1rem;
    margin:0 auto;
  }
  .logos img{
    width: 30%;
    margin:1rem;
  }
  .heading-featured{
    margin-bottom: 1rem;
  }
  .feturedItem{
    flex-direction: column;
    width: 75%;
    margin: 2rem auto;
  }
  .featured-product-image{
    margin-top: .9rem;
  }
  .featured-header-title, .header-title{
    text-align: center;
    font-size: 1rem;
  }
  .featured-header-description,.header-description-creeds, .header-description-operations{
    text-align: center;
    font-size: 1.7rem;
  }
  .creeds-items{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .creed-icon{
    margin:0 auto;
    text-align: left;
    margin-bottom: .7rem;
  }
 }
 /* Wrapper */
 .wrapper{
  margin-top: 8.5rem;
 }
 .wrapper section {
  padding-bottom: 8.5rem;
 }
 .title{
 color: var(--color-primary);
 font-size: 1.2rem;
 font-weight: 500;
 letter-spacing: .75px;
 font-weight: bold;
 padding-bottom: .5rem;
}
.subTitle{
color: var(--color-paragraph-primary);
font-size: 2.8rem;
font-weight: 500;
line-height: 1.4;
padding-bottom: 5rem;
}
.container {
  max-width: 75rem;
   margin: 0 auto;
}